h1 {
  color: blue;
  background-color: orange;
  border: 2px solid black;
}

h2 {
  color: green;
  background-color: orange;
  border: 2px solid black;
}

p {
	color: red;
}

P1{
	color: orange;
}